<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <FireGento_MultiStock>
            <version>0.1.0</version>
        </FireGento_MultiStock>
    </modules>
    <global>
        <models>
            <cataloginventory>
                <rewrite>
                    <stock>FireGento_MultiStock_Model_Stock</stock>
                    <stock_item>FireGento_MultiStock_Model_Stock_Item</stock_item>
                </rewrite>
            </cataloginventory>
            <cataloginventory_resource>
                <rewrite>
                    <stock>FireGento_MultiStock_Model_Resource_Stock</stock>
                    <!-- stock_collection is not a rewrite, it doesn't exist in magento at all: <rewrite> works anyway -->
                    <stock_collection>FireGento_MultiStock_Model_Resource_Stock_Collection</stock_collection>
                    <stock_item_collection>FireGento_MultiStock_Model_Resource_Stock_Item_Collection</stock_item_collection>
                </rewrite>
            </cataloginventory_resource>
            <firegento_multistock>
                <class>FireGento_MultiStock_Model</class>
            </firegento_multistock>
        </models>
        <blocks>
            <firegento_multistock>
                <class>FireGento_MultiStock_Block</class>
            </firegento_multistock>
        </blocks>
        <helpers>
            <firegento_multistock>
                <class>FireGento_MultiStock_Helper</class>
            </firegento_multistock>
        </helpers>
        <resources>
            <multistock_setup>
                <setup>
                    <module>FireGento_MultiStock</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </multistock_setup>
        </resources>
        <events>
            <prepare_catalog_product_index_select>
                <observers>
                    <multistock_price_index>
                        <class>firegento_multistock/observer</class>
                        <method>prepareCatalogProductIndexSelect</method>
                    </multistock_price_index>
                </observers>
            </prepare_catalog_product_index_select>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <multistocks>
                    <file>firegento_multistock.xml</file>
                </multistocks>
            </updates>
        </layout>
        <menu>
            <catalog translate="title" module="catalog">
                <children>
                    <multistock translate="title" module="firegento_multistock">
                        <title>MultiStock</title>
                        <sort_order>100</sort_order>
                        <children>
                            <stocks translate="title" module="firegento_multistock">
                                <title>Stocks</title>
                                <action>adminhtml/multistock/index</action>
                                <sort_order>10</sort_order>
                            </stocks>
                        </children>
                    </multistock>
                </children>
            </catalog>
        </menu>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <firegento_multistock before="Mage_Adminhtml">FireGento_MultiStock_Adminhtml</firegento_multistock>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
